// These colors are specific to the theme. Do not use in a package!
@red: #ff0000;
@green: #b5bd68;
@magenta: #fa4f68;
@light-gray: #cdcdcd;
@light-blue: #c2deff;
@dark-gray: #717171;
@very-dark-gray: #111111;
@yellow: #f5ff00;
@very-light-gray: #ededed;
@blue-gray: #98a6b5;
@blue: #52afd3;
@orange: #ff893f;
